<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MediationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41784/Mediation.asmx" binding="basicHttpBinding"
                bindingConfiguration="MediationSoap" contract="Mediation.MediationSoap"
                name="MediationSoap" />
        </client>
    </system.serviceModel>
</configuration>